# Main Database Config
DB_HOST=postgres
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# Test Database Config
TEST_DB_PORT=5433
TEST_DB_NAME=your_test_db_name

# Application Ports
SERVER_PORT=8080
MOCK_PORT=8081